    <nav>
      <div class="logo">Muthu Ram</div>
      <div class="menu">
        <a href="/home">Home</a>
        <a href="/register">Register</a>
        <a href="/">Login</a>
        <a href="/profile">Profile</a>
        <a href="#">Logout</a>
      </div>
    </nav>