<!DOCTYPE html>
<html lang="en">
{{> Header css="profile"}}

<body>
  {{> Navbar }}
<br>
  <div class="fluid">
    <div>
      <h2 style="text-align: center;">User Profile</h2>
      <div style="display: flex;">
        <img src="/userpost/download.jpg" id="user-profile" />
        <div>
          <h3>Name : {{user.name}}</h3>
          <h3>Email : {{user.email}}</h3>
        </div>

      </div>
    </div>

  </div>
  <br>
  <h2 style="text-align: center;">Your Post's</h2>
   {{#each datas}}
    <div class="fluid">
      <h1>{{this.title}}</h1>
     <p>{{{this.content}}}</p>
    </div>
    <br>
     {{/each}}
</body>
</html>