<head>
    {{> Header css='profile'}}
</head>

<body>
    {{> Navbar}}
    <div class="fluid">
        <div>

        </div>
        {{datas.name}}
        {{user.email}}
        <img src="/user-profile/{{user.user-profile}}">
    </div>
    <div>
        {{#each datas}}
        {{this.title}}
        {{/each}}
    </div>

</body>